/*reset*/
html, body {
	height: 100% !important;
}

.main-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	background-color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	background-image: url('../img/spinner.svg');
	background-size: 100%;
	width: 80px;
	height: 80px;
	box-shadow: 0 0 40px rgba(0,0,0,0.05);
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 0 40px rgba(0,0,0,0.05);
	-ms-box-shadow: 0 0 40px rgba(0,0,0,0.05);
	-o-box-shadow: 0 0 40px rgba(0,0,0,0.05);
	z-index: 999999;
}

.navbar-toggler {
	border-color: #fff;
	color: #fff;
}

.navbar-toggler i {
	font-size: 30px;
}

.row.col-spacing {
	margin-left: -25px;
	margin-right: -25px;
}

.row.col-spacing [class^="col-"] {
	padding-left: 25px;
	padding-right: 25px;
}

.overlay {
	background-color: #000;
	opacity: .55;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}

/*navbar*/
.navbar.main-navbar {
	position: fixed;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	z-index: 1;
}

.navbar.main-navbar.bg-dark {
	background-color: #000 !important;
}

.navbar.main-navbar .navbar-brand {
	width: 110px;
	padding: 0;
	line-height: 0;
}

.navbar.main-navbar .navbar-brand img {
	width: 100%;
}

.navbar.main-navbar .nav-link {
	color: #fff;
	padding: 0 20px;
	font-size: 14px;
	letter-spacing: 1px;
	color: rgba(255,255,255,.75);
	position: relative;
	transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
}

.navbar.main-navbar .nav-link:after {
	content: ' ';
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	height: 2px;
	width: 0;
	background-color: #fff;
	transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
}

.navbar.main-navbar .nav-link:hover {
	color: #fff;
}

.navbar.main-navbar .nav-link:hover:after {
	width: 20px;
}

.navbar.main-navbar .nav-item.active .nav-link {
	color: #fff;
}

.navbar.main-navbar .nav-item.active .nav-link:after {
	width: 20px;
}

.navbar.main-navbar .form-inline {
	margin-left: 15px;
}

.navbar.main-navbar .form-inline .btn {
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-width: 2px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 14px;
	letter-spacing: 1px;
	background-color: transparent;
	border-color: #fff;
}

.navbar.main-navbar .form-inline .btn:hover {
	background-color: #fff;
	color: #000;
	opacity: 1;
}

/*hero*/
.hero {
	height: 100%;
	color: #fff;
	position: relative;
}

.hero .text {
	position: absolute;
	top: 50%;
	left: 200px;
	right: 200px;
	transform: translateY(-60%);
	-webkit-transform: translateY(-60%);
	-moz-transform: translateY(-60%);
	-o-transform: translateY(-60%);
	-ms-transform: translateY(-60%);
	z-index: 1;
	text-align: center;
}

.hero .text h1 {
	margin: 0;
	font-size: 64px;
	font-weight: 300;
	letter-spacing: .5px;
	line-height: 1.3em;
}

.hero .text h1 .bold {
	font-weight: 600;
}

.hero .text p.lead {
	margin-bottom: 60px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	line-height: 0;
	font-size: 28px;
}

/* //////////// */
.hero  .text .btn {
	padding-left: 10px;
	padding-right: 10px;
	/* text-transform: uppercase; */
	outline-color:rgba(255, 255, 255, 0);
	/* border-radius: 0px; */
	box-shadow: none;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: .5px;
	color: rgba(255, 255, 255, 0.5);
}

.hero  .text .btn:hover {
	color: rgba(255, 255, 255, 0.9);
}

/* ////////////////////// */

.hero .cta {
	margin-top: 40px;
}

.hero .cta .btn {
	padding: 15px 20px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1.3px;
	font-weight: 600;
}

.hero .cta .btn.btn-primary {
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	-ms-border-radius: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.hero .cta .btn.btn-link {
	color: #fff;
}

.hero .cta .btn.btn-link i {
	margin-right: 5px;
}

.hero .cta .link {
	margin-top: 15px;
}

.hero .cta .link a {
	color: #fff;
	font-size: 12px;
	text-decoration: underline;
	text-transform: none;
	color: #999;
	font-weight: 600;
	letter-spacing: .3px;
}

/*section*/
section {
	position: relative;
}

section.bg-grey {
	background-color: #f9f9f9;
}

section.bg-reverse {
	background-color: #000;
}

section.bg-overlay {
	background-color: rgba(0,0,0,0.85);
}

section.padding {
	padding: 100px 0;
}

section#blog {
	padding-bottom: 70px;
}

section .section-title {
	font-size: 34px;
}

section .section-lead {
	font-size: 18px;
	font-weight: 200;
	margin-top: 15px;
}

section .section-body {
	margin-top: 60px;
}

section.callout {
	padding: 50px 0;
}

section.callout .cta {
	text-align: right;
}

section.callout .cta .btn {
	padding: 15px 35px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 2px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	border-width: 2px;
	border-color: #000;
	color: #000;
}

section.callout .cta .btn:hover {
	background-color: #000;
	color: #fff;
}

section.callout h3 {
	margin: 0;
}

/*list*/
.list-item {
	display: flex;
	display: -webkit-flex;
	width: 100%;
}

.list-item.no-spacing {
	padding-bottom: 0;
}

.list-item .icon,
.list-item .desc {
	flex: 1;
	-webkit-flex: 1;
}

.list-item .icon {
	flex: 0 0 65px;
	-webkit-flex: 0 0 65px;
	font-size: 45px;
	line-height: 0;
	color: #ccc;
}

.list-item .desc h2 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: .5px;
	margin-bottom: 10px;
}

.list-item .desc p {
	line-height: 28px;
	font-size: 16px;
	margin-bottom: 0;
}

.list-item .desc .more {
	display: inline-block;
	margin-top: 10px;
}


.subscribe {
	position: relative;
}

.subscribe .form-control,
.subscribe .btn {
	height: 45px;
}

.subscribe .form-control {
	margin-bottom: 20px;
	border-width: 2px;
	margin-right: 1px;
	border-color: transparent;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,.05);
	-moz-box-shadow: 0 0 40px rgba(0,0,0,.05);
	-o-box-shadow: 0 0 40px rgba(0,0,0,.05);
	padding: 30px 30px;
	/* padding-right: 130px; */
	border-radius: 30px !important;
	-webkit-border-radius: 30px !important;
	-moz-border-radius: 30px !important;
	-o-border-radius: 30px !important;
	-ms-border-radius: 30px !important;
	display: inline-block;
	width: 100%;
}

.subscribe .form-control:hover {
	border: 2px solid #ddd;
}

.subscribe .form-control:focus {
	border-color: #0069d9;
}

.subscribe .btn {
	padding-left: 20px;
	padding-right: 20px;
	position: absolute;
	right: 10px;
	top: 10px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: .5px;
}

@media screen and (max-width: 768px) {
	.hero .text {
		left: 20px;
		right: 20px;
	}
	.navbar.main-navbar .navbar-collapse {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.navbar.main-navbar .navbar-nav .nav-item a {
		display: inline-block;
		padding: 10px 0;
	}
	.navbar.main-navbar .navbar-nav .nav-item a:after {
		display: none;
	}
	.navbar.main-navbar .form-inline {
		margin-left: 0;
	}
}

@media screen and (max-width: 576px) {
	.hero .text h1 {
		font-size: 34px;
	}
	.hero .text p.lead {
		line-height: normal;
	}
	.projects-picture {
		margin-bottom: 40px;
	}
	.maps {
		margin-bottom: 40px;
		width: 100%;
		height: 250px;
	}
	section.callout .text {
		text-align: center;
		margin-bottom: 20px;
	}
	section.callout .cta {
		text-align: center;
	}
	.row.col-spacing {
		margin-left: -15px;
		margin-right: -15px;
	}
	.row.col-spacing [class^="col-"] {
		padding-left: 15px;
		padding-right: 15px;
	}
	.list-item {
		padding-bottom: 40px;
	}
}

@media screen and (max-width: 320px) {
	.article-read .article-read-inner {
		width: 80%;
	}
}